<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- pagina CSS -->
  <link rel="stylesheet" href="style/style.css">

  <!-- icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>

  <div class="container-wp" id="container">
    <div class="container-ms-utenti">

      <div class="utente">

        <div class="img-utente">
          <div class="container-img-profile">
            <img src="img/DSC0683.jpg" alt="">
          </div>
          <p>Elena</p>
        </div>

        <div class="icons-options">
          <i class="fas fa-circle-notch"></i>
          <i class="fas fa-comment-alt"></i>
          <i class="fa-solid fa-ellipsis"></i>
        </div>

      </div>

      <div class="notifications">
        <div class="notifications-icons">
          <i class="fas fa-bell-slash"></i>
        </div>

        <div class="notifications-options">
          <p>Ricevi notifiche di nuovi utenti</p>
          <a href="#">Attiva notifiche desktop</a>
        </div>
      </div>

      <div class="navigation-filter">
        <nav>
          <i class="fas fa-search"></i>
          <input placeholder="Cerca ho inizia una nuova chat" type="text" value="">
        </nav>
      </div>

      <div class="utenti">
        <!-- ciclo profili -->
        <ul v-for="(profili, index) in contacts">
          <li @click="chat = index"
          v-bind:class="(index === chat) ? 'active-background' : '' "
          class="profile-utenti">
            <div class="container-img-profile">
              <img :src="profili.avatar" alt="">
            </div>

            <div class="notifications-profile">
              <p class="name">{{ profili.name }}</p>
              <p class="notifications-utenti color-grey">{{ profili.messages[profili.messages.length - 1].text }}</p>
            </div>

            <div class="data-ore-utenti color-grey" >
              20:10
            </div>
          </li>

        </ul>
      </div>
    </div>

    <div v-for="(profili, index) in contacts"
    v-bind:class="(index === chat) ? 'display-active' : 'display-none' "
    class="container-ms-utente" >
      <div class="profile-utente">
        <div class="container-img-profile">
          <img :src="profili.avatar" alt="">
        </div>

        <div class="info-utente">
          <p>{{ profili.name }}</p>
          <p class="color-grey">Ultimo accesso 28/02/2022 12:07</p>
        </div>

        <div class="notifications-icons-utenti">
          <i class="fas fa-circle-notch"></i>
          <i class="fas fa-comment-alt"></i>
          <i class="fa-solid fa-ellipsis"></i>
        </div>
      </div>

      <div class="messaggi-utente">

        <div class="container-content-utente">

          <div v-for="(profili, index) in contacts"
          v-bind:class="(index === chat) ? 'display-active' : 'display-none'">

            <div v-for="messaggi in profili.messages"
            :class="messaggi.status == 'sent' ? 'messaggio-utente' : 'messaggio-myUtente' "
            class="sms">

              <div class="content-utente ">
                {{ messaggi.text }}
              </div>

              <div class="data-messaggio-utente">{{ ora( messaggi.date ) }}</div>
            </div>
          </div>

        </div>

      </div>

      <div class="invia-messaggi-utente">

        <i class="fa-solid fa-face-smile"></i>

        <input class="invia-messaggi"
        type="text"
        placeholder="Scrivi un messaggio"
        @keyup.enter="pushMessaggio(), pushMyMessaggio()"
        v-model="newMessaggio">

        <i class="fa-solid fa-microphone"></i>

      </div>
    </div>

  </div>

  <script src="js/script.js"></script>
</body>
</html>