* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-wp{
  display: flex;
  flex-direction: row;
}

.container-ms-utenti {
  height: 100vh;
  flex-grow: 1;
  max-width: 350px;
}

.utente, .profile-utente{
  padding: 10px;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  background-color: #eaeaea;
}

.img-utente{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.container-img-profile {
  width: 40px;
  aspect-ratio: 1 / 1;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.icons-options, .notifications-icons-utenti {
  display: flex;
  gap: 20px;
  color: grey;
}

/* Notifiche */
.notifications{
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #77dbff;
  height: 13%;
}

.notifications-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 10%;
  aspect-ratio: 1 / 1;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: white;
}

.notifications-icons i{
  color: #77dbff;
}

.notifications-options a {
  color: grey;
}

/* Navigazione e filtro */
.navigation-filter{
  padding: 10px;
  height: 5%;
}

nav {
  display: flex;
}

nav i{
  text-align: center;
  font-size: 100%;
  width: 5%;
}

nav input {
  width: 90%;
  border: 1px solid transparent;
  line-height: 15px;
  padding: 0 10px;
}

nav input:focus-visible {
  outline: none;
}

/* profilo utenti */

.utenti {
  height: calc(100% - 171px);
  /* border: 3px solid black; */
  overflow-y: auto;
}

.profile-utenti{
  padding: 5px 10px;
  display: flex;
}

.profile-utenti:hover{
  background-color: #eaebeb;
}

.notifications-profile, .info-utente {
  flex-grow: 1;
}

.notifications-utenti{
  font-size: 15px;
  color: grey;
}


/* messaggi del utente */
.container-ms-utente{
  height: 100vh;
  flex-grow: 10;
  display: none;
}

.profile-utente {
  height: 10%;
  padding: 10px;
  /* border: 1px solid red; */
}

.messaggi-utente {
  height: 80%;
  background-color: #e6ddd4;
  overflow-y: auto;
}

.container-content-utente {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  border: 2px solid red;
}

.invia-messaggi-utente {
  height: 10%;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #f4eeea;
}

.invia-messaggi-utente i {
  padding: 20px;
}

.invia-messaggi-utente input {
  padding: 10px;
  flex-grow: 1;
  height: 100%;
}

.sms {
  width: 40%;
  margin: 10px;
  padding: 10px;
  /* border: 1px solid rebeccapurple; */
  border-radius: 5px;
  display: flex;
}

.container-messaggio-utente{
  flex-direction: column;
  justify-content: flex-end;
  display: none;
}

.messaggio-utente {
  background-color: #c7ffba;
  align-self: flex-end;
}

.content-utente, .content-myUtente{
  flex-grow: 1;
  align-self: flex-start;
}

.data-messaggio-utente, .data-messaggio-myUtente {
  font-size: 10px;
  align-self: flex-end;
}

.messaggio-myUtente {
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

/* ---------------------------- */

/* .container-messaggio-utente.display-active {
  display: block;
} */


.display-active {
  display: flex;
  flex-direction: column;
}

.display-none {
  display: none;
}







